@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"
@import "../../Sass/mixins/_icon-btn.sass"

.task
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  max-width: 100%
  height: 3.75em
  padding: 0.625em

  font:
    size: 16px
  color: $dark-blue

  border: 2px solid transparent
    radius: 20px

  &--waiting
    background: $task-waiting

  &--processing
    background: $task-processing

  &--done
    background: $task-done

  &--default
    border: 2px solid $main-blue

  &__name
    display: inline-block
    height: 1.5em
    padding: 0 0.25em
    margin-right: auto
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    font:
      size: 1.5em
    line-height: 1.25em

    border: 4px solid $main-white
    border-radius: 12px
    background: $main-white

  &__btn-wrapper
    min-width: max-content
    margin-left: 0.5em

  &__btn
    @include icon-btn

    margin-right: 0.125em

    &:last-of-type
      margin-right: 0

  &__btn-svg
    @include icon-btn-svg
    