@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

@import "../../Sass/mixins/_link-btn.sass"

.header
  position: fixed
  top: 0
  left: 0
  z-index: 1

  width: 100%
  height: 3rem

  background:
    color: $main-blue
  box-shadow: 0 0 10px 0 $black

  @media screen and (min-width: $screen-xl)
    height: 5rem

  &__container
    display: flex
    justify-content: space-between
    align-items: center
    width: 90%
    max-width: 620px
    height: 100%
    margin: 0 auto

    @media screen and (min-width: $screen-xl)
      max-width: 1200px

  &__logo-wrapper
    width: 3rem
    height: 1.5rem

    @media screen and (min-width: $screen-xl)
      width: 5rem
      height: 2.5rem

  &__list
    display: flex
    align-items: center

  &__li
    float: left

  &__btn
    @include link-btn

  &__nav
    height: 2rem

    @media screen and (min-width: $screen-xl)
      height: 2.75rem

  &__nav-link
    @include link-btn

    margin-left: 1rem
